/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @font-face {
    font-family: Gilbert;
    src: url( 'gilbert-colour.otf' );
    font-weight: bold;
}

 .wp-block-create-block-advertising-options {
	font-family: Gilbert;
    font-size: 64px;
}
